.area {
    fill: lightblue;
    clip-path: url(#clip);
    stroke: dodgerblue;
    stroke-width: 1;
  }
  
  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
  .solid{
    stroke:solid;
 }
 
 .dashed{
    stroke-dasharray: 5,5; 
 }

 .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }
